.imageUpload {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px auto;
  /* position: fixed;
  bottom: 0; */
  background-color: white;
}

.imageUpload__progress {
  width: 100%;
  margin-bottom: 10px;
}

.imageUpload > input {
  margin-bottom: 10px;
}
